{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
        	<div class="limitations_wrap">
				<form action="{{ path('save_limits') }}" class="limitations_form" method="post">
					<div class="limitations_header">
						Введите ограничения на платежи:
						<div class="underline_block_solid"></div>
					</div>
					<div class="mobile_bounds bounds">
						<div class="bounds_text"> 
							Через мобильный
						</div>
						<div class="bounds_wrap">
							<input class="bound" type="number" min="0" required="true" placeholder="От" name="mobileMin">
							<div class="dash_block">-</div>
							<input class="bound" type="number" required="true" placeholder="До" name="mobileMax">
						</div>
					</div>

					<div class="internet_bounds bounds">
						<div class="bounds_text">
							Через интернет
						</div>
						<div class="bounds_wrap">
							<input class="bound" type="number" min="0" required="true" placeholder="От" name="internetMin">
							<div class="dash_block">-</div>
							<input class="bound" type="number" required="true" placeholder="До" name="internetMax">
						</div>
					</div>

					<div class="atm_bounds bounds">
						<div class="bounds_text">
							Через банкомат
						</div>
						<div class="bounds_wrap">
							<input class="bound" type="number" min="0" required="true" placeholder="От" name="atmMin">
							<div class="dash_block">-</div>
							<input class="bound" type="number" required="true" placeholder="До" name="atmMax">
						</div>
					</div>

					<div class="summary_limit">
						<div class="bounds_text">
							Суммарное ограничение на платежи
						</div>
						<input class="bound" type="number" required="true" placeholder="До" name="summaryMaxBound">
					</div>
					<button class = "send_limits_btn">
						<span class="save_text">Сохранить</span>
						<span class="wait_text hidden_block">Подождите...</span>
						<span class="success_text hidden_block">Сохранено!</span>
						<span class="fail_text hidden_block">Ошибка!</span>
					</button>
					
				</form>

        	</div>
        </div>
    </div>
{% endblock %}



{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/styles/admin.css')}}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/admin.js') }}"></script>
{% endblock %}