.limitations_wrap{
	margin: auto;
	max-width: 300px;
	border: 1px solid #C24438;
	box-shadow: 0 0 5px #C24438;
	border-radius: 10px;
	padding: 15px;
}

.limitations_header{
	margin: 10px auto;
	text-align: center;
}

.underline_block_solid{
	height: 7px;
	background-color: #C24438;
	border-radius: 100px;
	margin: 5px 0;
}

.underline_block_dotted{
	height: 5px;
	background-color: #C24438;
	border-radius: 10px;
}

.bounds_wrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start; 
	margin: 5px auto;
}
.bounds{
	margin: 0 0 10px 0;
}

.bounds_text {
	margin: 5px 0;
	display: inline-block;
	border-bottom: 3px dotted  #C24438;
}

.bound {
	max-width: 120px;
	padding: 5px;
}

.summary_limit {
	margin: 0 0 20px 0;
}
.send_limits_btn{
	width: 100%;
	height: 50px;
}

.day_limit {
	width: 100%;
	padding: 5px;
	margin: 5px 0;
}