header {
	position: relative;
	width: 80%;
	margin: 0 auto 50px auto;
}
.header_top_wrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	// border-bottom:  7px solid #C24438;
}

.header_text_wrap{
	position: relative;
	width: 200px;
}

.header_text {
	right: 0;
	bottom: 0;
	position: absolute;
}

.split_line{
	height: 5px;
	background-color: #C24438;
}

.auth_wrap{
	width: 100%;
	text-align: center;
	position: absolute;
}

.auth_link{
	display: block;
	margin: 5px auto;
}