header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto 50px auto;
	border-bottom:  2px solid #C24438;
}
	// align-items: center;


.header_logo, .header_text_wrap {
	margin: 0 20px;

}

.header_text {
	margin-top: 57.5%;
}