header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto 50px auto;
	border-bottom:  7px solid #C24438;
}

.header_text_wrap{
	position: relative;
	width: 200px;
}

.header_text {
	right: 0;
	bottom: 0;
	position: absolute;
}