.pay_way {
	display: inline-block;
	border-radius: 10px;
	color: black;
}

.pay_way:hover{
	background-color: rgba(194,68,56, .8);
	transition: all .5s;

}
.pay_way:hover>.pay_way_text{
	color: white;

}
.pay_way_image{
	max-height: 200px;
	padding: 10px;
}

.pay_way_text {
	margin: 10px;
	border-bottom: 2px solid #C24438;
}

input[type=radio]:checked + div {
  background-color: #C24438;
  color: white;
} 

input[type=radio] + div {
	transition: all .5s;
	background-color: white;
	color: black;
} 

.send_pay_btn{
	outline: none;
	width: 100%;
	max-width: 300px;
	padding: 10px;
	background-color: #C24438;
	color: white;
	border-radius: 10px;
	border: 0;
	box-shadow:  0 0 10px rgba(0,0,0,0.5);
	transition: all .5s;
	margin: 10px auto;
	display: block;
}

.send_pay_btn:hover {
	box-shadow:  0 0 15px rgba(0,0,0,.9);
}

.pay_sum>input{
	outline-color: #C24438;
	width: 100%;
	max-width: 300px;
	padding: 5px;
	margin: 10px auto;
	display: block;
}

.response_text {
	text-align: center;
	height: 20px;
}